# Fourth question

In [34]:
from selenium import webdriver

In [35]:
driver=webdriver.Firefox('E:\geckodriver-v0.29.1-win64')

getting url

In [58]:
url='https://www.glassdoor.co.in/Salaries/index.htm'

In [59]:
driver.get(url)

Entering Data Scientist and location Noida in serach engine

In [60]:
sec=driver.find_element_by_id('KeywordSearch')

In [61]:
sec.send_keys('Data Scientist')

In [62]:
loc=driver.find_element_by_id("LocationSearch")

In [63]:
loc.send_keys('Noida')

Clicking on serach button

In [66]:
btn=driver.find_element_by_id('HeroSearchButton')

In [67]:
btn.click()

Extracting company names

In [80]:
comp=driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']//a")

In [81]:
company=[]
for i in comp[0:10]:
    company.append(i.text)
company

['Tata Consultancy Services',
 'Accenture',
 'IBM',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions']

Extracting Average salaray

In [84]:
avg=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")

In [86]:
Average=[]
for i in avg[0:10]:
    Average.append(i.text.replace('\n',''))
Average

['₹ 6,14,306 /yr',
 '₹ 11,46,533 /yr',
 '₹ 8,97,795 /yr',
 '₹ 7,38,057 /yr',
 '₹ 12,39,781 /yr',
 '₹ 13,36,142 /yr',
 '₹ 8,15,192 /yr',
 '₹ 11,35,221 /yr',
 '₹ 11,44,243 /yr',
 '₹ 14,13,288 /yr']

Range Min and Max salaray of  the company

In [87]:
rang=driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")

In [89]:
range=[]
for i in rang[0:10]:
    range.append(i.text.replace('Range:',''))
range

[' ₹343K - ₹1,250K',
 ' ₹577K - ₹2,213K',
 ' ₹586K - ₹2,730K',
 ' ₹355K - ₹1,613K',
 ' ₹450K - ₹11,622K',
 ' ₹1,069K - ₹1,520K',
 ' ₹502K - ₹1,465K',
 ' ₹202K - ₹1,809K',
 ' ₹575K - ₹1,520K',
 ' ₹1,014K - ₹2,149K']